body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background: #000;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: orange;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

h2 {
    margin-left: 50px;
    color: #444;
}

ul {
    margin-left: 80px;
    line-height: 1.6;
}

table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 60%;
    background: white;
}

td {
    border: 1px solid #555;
    padding: 10px;
}

.center-text {
    text-align: center;
    font-size: 18px;
}
